.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    background-color: rgba(0, 0, 0, 0.2);

   &.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    .modal {
      transform:  scale(1.1);
      }
  }
  }
  
  
  .modal {
    width: 528px;
    min-height: 581px;
    padding: 40px;
  
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  .modal-icon {
    position: absolute;
    right: 8px;
    top: 8px;
     transition: fill  250ms cubic-bezier(0.4, 0, 0.2, 1);
     &:hover {
      fill: #2196f3;
    }
  }
 
  
  .modal-title {
    font-weight: bold;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
  
    margin-bottom: 12px;
  
    color: var(--primary-title-color);
  
  }
  
  .modal-field {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  
  letter-spacing: 0.01em;
  
  color: #757575;
  
   margin-bottom: 10px;
  
  }
  
  .imput-label{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  
  letter-spacing: 0.01em;
  
  color: #757575;
  
  display: block;
  margin-bottom: 4px;
  
  }
  
  .modal-imput{
    width: 448px;
    height: 40px;
  
    padding-left: 42px;
    padding-right: 20px;
  
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.01em;
  
    color:var(--primary-title-color);
    
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
  
    outline: none;

    &:focus{
      border-color: var(--accent-color);
    
    }
    &:focus + .icon-madal-person {
      fill: var(--accent-color);
    }
  }
  
  
  
  
  .imput-wrapper{
    display: block;
    position: relative;
  }
  
  .icon-madal-person{
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  }
  
  
  .modal-comment-imput{
   width: 100%;
   height: 120px;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: calc(14 / 12);
   letter-spacing: 0.01em;
  
   padding: 12px 16px;
  
  
  background-color: transparent;
  
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  
  outline: none;
  
  color: var(--primary-title-color);

  &:focus, &::placeholder {
      border-color: var(--accent-color);
      
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.01em;
      
        color: rgba(117, 117, 117, 0.5);
  }
  }
  
  
  
  .modal-button { 
  margin: 0 auto;
  width: 200px;
  height: 50px;
  
  padding-top: 10px;
  padding-left: 56px;
  padding-right: 55px;
  padding-bottom: 10px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  
  color: #FFFFFF;
  background-color: var(--accent-color);
  border: none;
  
  background: #2196F3;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2); 
  border-radius: 4px;
  
   transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover {
    cursor: pointer;
    }
  }
  
 
  
  .check-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    
    margin-bottom: 30px;
    margin-left: 10px;
    letter-spacing: 0.03em;
    
    color: #757575;
    
    display: flex;
    align-items: center;
  
      span {
          width: 16px;
          height: 16px;
          border: 2px solid #212121;
          border-radius: 2px;
          margin-right: 8px;
        
          display: flex;
          align-items: center;
          
          text-transform: uppercase;
          
        }
     .modal-checkbox:checked + & span { 
           background-color: var(--accent-color);
           border-color: var(--accent-color);
    }
    }

  .link-modal{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;

   color: var(--accent-color);
  }